body {
      background-color:  #000;
      color: white;
      font-family: 'Helvetica Neue', sans-serif;
      margin: 0;
      padding: 0;
    }
    /*header {
      padding: 20px;
      background-color: #000;
      display: flex;
      justify-content: space-between;
      align-items: center;
       border-bottom: 1px solid #333;
    }
    header .logo {
      font-size: 1.5rem;
      font-weight: bold;
      color: #1db954;
    } */
    nav.nav a {
      margin: 0 10px;
      text-decoration: none;
      color: white;
    }
    nav.nav a.active {
      font-weight: bold;
      color: #1db954;
    }
    main {
      max-width: 960px;
      margin: 0 auto;
      padding: 60px 20px 100px;
    }
    h2 {
      color: white;
      font-size: 2.5rem;
      margin-bottom: 24px;
      text-align: center;
    }
    h3 {
      color: #1db954;
      margin-top: 50px;
      font-size: 1.6rem;
      border-left: 4px solid #1db954;
      padding-left: 10px;
    }
    h4 {
      color: white;
      font-size: 1.4rem;
      margin-top: 40px;
    }
    p, li {
      color: #ccc;
      line-height: 1.7;
      font-size: 1.05rem;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 30px 0;
      background-color: #1a1a1a;
    }
    th, td {
      border: 1px solid #333;
      padding: 14px;
      text-align: left;
    }
    th {
      background-color: #222;
      color: white;
    }
    td {
      color: #8226e3;
    }
    td:first-child {
      color: #8226e3;
    }
    ul {
      margin-top: 10px;
      padding-left: 20px;
    }
    img.guide-img {
      width: 100%;
      max-width: 800px;
      margin: 30px auto;
      display: block;
      border-radius: 12px;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }